@import "../../variables.scss";

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: auto;
  //box-sizing: border-box;
}

.tourComponent {
  margin-top: 1em;
  margin-bottom: 1em;
}

.tourColumn {
  box-sizing: border-box;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 20em;
  text-align: left;
  width: 100%;
  overflow-y: auto;
}

.tourColumn:first-child {
  margin-bottom: 3em;
}

td.tourCell {
  width: 16em;
}

.tourComponentSeparator {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  width: 60%;
  margin-bottom: 1em;
}

@media(min-width: $min-width) {
  #container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .tourColumn:first-child {
    margin-bottom: 0;
  }
}
