@import "../../variables.scss";

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: auto;
  max-width: $max-width-mobile;
}

.tourComponent {
  margin-top: 1em;
  margin-bottom: 1em;
}

.tourColumn {
  box-sizing: border-box;
  //max-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 30em;
  text-align: left;
  width: 100%;
  //overflow-y: auto;
}

.tourColumn:first-child {
  margin-top: $margin-top;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.tourColumn:nth-child(2) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

td.tourCell {
  width: 16em;
}

.tourComponentSeparator {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  width: 60%;
  margin-bottom: 1em;
}

@media(min-width: $min-width) {
  #container {
    max-width: initial;
  }

  //.tourColumn:first-child {
  //  margin-bottom: 0;
  //}
}
