@import "../../variables.scss";

#container {
  //align-items: center;
  //width: 100%;
  //overflow: auto;
  //max-width: $max-width-mobile;
}

.tourComponent {
  margin-top: 1em;
  margin-bottom: 1em;
}

.tourColumn {
  box-sizing: border-box;
  //max-height: 100%;
  max-width: 30em;
  text-align: left;
  width: 100%;
  //overflow-y: auto;
}

.tourColumn:first-child {
  margin-top: $margin-top;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.tourColumn:nth-child(2) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

//td.tourCell {
//  width: 16em;
//}

.tourComponent {
  table {
    width: 21em;
  }

  tr {
    height: 2em;
  }
  tr:nth-child(1) {
    text-align: left;
  }

  tr:nth-child(2) {
    text-align: center;
    color: #d28400;
    font-size: 18px;
  }

  tr:nth-child(3) {
    text-align: right;
  }
}

.tourComponentSeparator {
  text-align: center;
  border: 1px solid rgb(176, 175, 0);
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  margin-bottom: 1em;
}

@media(min-width: $min-width) {
  #container {
    max-width: initial;
  }

  //.tourColumn:first-child {
  //  margin-bottom: 0;
  //}
}
