@import "../../variables.scss";


$menu-width-mobile: 10em;

#menuBar {
  width: $menu-width-mobile;
}

#menuButton {
  display: flex;
  flex-direction: row;
}

#menuIcon {
  width: 2em;
  height: 2em;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
}

#menuOptionsWrapper {
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease;
  -moz-transition: max-height 0.5s ease;
  -ms-transition: max-height 0.5s ease;
  -o-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
}

.optionDiv {
  display: block;
  border-bottom: 1px solid black;
  width: $menu-width-mobile;
}

// h1 elements that are children of .optionDiv
.optionDiv h1 {
  margin: 0;
}

.optionLink {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  text-decoration: none;
  color: $menu-color;
}

.activeOptionLink {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  text-decoration: none;
  color: black;
}

.optionLink:hover {
  cursor: pointer;
  color: $menu-color-active;
}

#mobilePageIndicator {
  //position: absolute;
  //margin-left: auto;
  //margin-right: auto;
  //left: 1.5em;
  //top: 0.3em;

  font-size: 32px;
  font-weight: bold;

  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

@media (min-width: $min-width) {
  #menuBar {
    width: 100%;
    text-align: center;
  }

  .optionDiv {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    border: none;
    width: auto;
  }
  #menuOptionsWrapper {
    display: block !important;
    max-height: 11em !important;
  }

  #menuIcon {
    display: none;
  }

  #mobilePageIndicator {
    display: none;
  }
}
