@import "../../variables.scss";

.icon {
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  fill: $social-media-button-color;
}

.iconWrapper {
  display: inline-block;
}

table.information {
  text-align: left;
  margin-bottom: 1em;
}

.boxLinkWrapper {
  display: inline-block;
}

.blackToWhiteLink {
  font-weight: bold;
  color: $text-color;
}

.blackToWhiteLink:hover {
  color: white;
}

#informationWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  align-self: center;
}

#emailInput {
  height: 2em;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  padding-left: 1em;
  padding-right: 1em;
  width: 40%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

@media (min-width: $min-width) {
}
