@import "../../variables.scss";

.icon {
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  fill: $social-media-button-color;
}

.iconWrapper {
  display: inline-block;
}

table.information {
  margin-left:auto;
  margin-right:auto;
  text-align: left;
}

.boxLinkWrapper {
  display: inline-block;
}

.blackToWhiteLink {
  font-weight: bold;
  color: $text-color;
}

.blackToWhiteLink:hover {
  color: white;
}

#informationWrapper {
  margin-top: 12em;
}

#emailInput {
  height: 2em;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
}

@media (min-width: $min-width) {
  #informationWrapper {
    position: absolute;
    bottom: 14em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}
