@import "../../../variables.less";

.bio {
  width: 95%;
  text-align: left;
  display: inline-block;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

p.indent {
  text-indent: 5em;
}

@media (min-width: @min-width) {
  .bio {
    position: absolute;
    right: 3%;
    width: 30em;
  }
}
