@import "../../../variables.less";

#bio {
  max-width: 95%;
  text-align: left;
  display: inline-block;
  line-height: 1.5em;
  margin-top: 5em;
}

p.indent {
  text-indent: 5em;
}

@media (min-width: @min-width) {
  #bio {
    //position: absolute;
    //right: 3%;
    margin-top: 10em;
    width: 30em;
  }
}
