@font-face {
    font-family: 'mic-32';
    src: url('fonts/mic-32regular-webfont.woff') format('woff'),
	 url('fonts/mic-32regular-webfont.woff2') format('woff2'),
	 url("fonts/mic-32regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color:black;
	font-family: mic-32;
	font-style: normal;
	font-weight: 300;
}

.video {
	height: 80vh;
}

#redirectDiv {
	
	text-align: center;
}

a {
	color: #ffefe0;
	font-size: 5em;
}

a:hover {
	color: blue;
}
