@import "../../variables.scss";

#socialMedia {
  position: static;
  text-align: center;
  margin-top: 2em;
}

.socialButtonImage {
  width: 2.5em;
  height: 2.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  fill: $social-media-button-color-mobile;
}

.socialMediaButtonImageWrapper {
  display: inline-block;
}

.socialButtonImage:hover {
  cursor: pointer;
}

@media (min-width: $min-width) {
  #socialMedia {
    position: fixed;
    right: 1em;
    top: 10em;
    margin: 0;
  }

  .socialButtonImage {
    width: 3em;
    height: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: block;
    fill: $social-media-button-color;
  }

  .socialMediaButtonImageWrapper {
    display: block;
  }
}
