// some general styles
html {
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

::-webkit-scrollbar {
  display: block;
}

@font-face {
  font-family: 'mic-32';
  src: url('../media/fonts/mic-32regular-webfont.woff') format('woff'),
  url('../media/fonts/mic-32regular-webfont.woff2') format('woff2'),
  url("../media/fonts/mic-32regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;

}

.defaultText {
  color: #2c261c;
  font-family: mic-32;
  font-style: normal;
  font-weight: 300;
}
