/**
Why is this file css and not less?
The less loader has some issues with file paths and messes up
the font urls defined below. See also:
https://github.com/webpack-contrib/less-loader/issues/76
 */

html {
    font-family: mic-32;
}

@font-face {
  font-family: 'mic-32';
  src: url('./fonts/mic-32regular-webfont.woff') format('woff'),
  url('./fonts/mic-32regular-webfont.woff2') format('woff2'),
  url("./fonts/mic-32regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
