@import "./variables.scss";

html {
  height: 100%;
  font-style: normal;
}

body {
  margin: 0;
  height: 100%;
}

#mainContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#contentSidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
}

#content {
  flex: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

//::-webkit-scrollbar {
//  //display: block;
//  width: 1em;
//}
//
//::-webkit-scrollbar-track {
//  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//}
//
//::-webkit-scrollbar-thumb {
//  background-color: darkgrey;
//  outline: 1px solid slategrey;
//}

::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5, b, strong {
  color: $nice-black;
}

@media (min-width: $min-width) {
  #contentSidebar {
    flex-direction: row;
    justify-content: flex-end;
  }
}
