$nice-black: #2c261c;
$nice-brown: #655e59;
$soft-white: rgb(218, 215, 209);
$sunset-yellow: #d28400;



$text-color: $soft-white;
$menu-color: $soft-white;
$menu-color-active: #555555;
$text-border-size: 0.3px;
$text-border-color: black;



$box-border-color: black;
$min-width: 700px;

$border-radius: 20px;

$social-media-button-color: #dedede;
$social-media-button-color-mobile: #dedede;

$page-width: 61.8%;
$margin-top: 10em;
$max-width-mobile: 90%;
