$nice-black: #2c261c;
$nice-brown: #655e59;
$text-color: $nice-black;
$menu-color: $nice-brown;
$menu-color-active: $nice-black;
$text-border-size: 0.3px;
$text-border-color: black;

$box-border-color: black;
$min-width: 700px;

$border-radius: 8px;

$social-media-button-color: #dedede;
$social-media-button-color-mobile: #dedede;

$page-width: 61.8%;
$margin-top: 10%;
$max-width-mobile: 90%;
