@import "../../../variables.less";

.icon {
  width: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  fill: @social-media-button-color;
}

.iconWrapper {
  display: inline-block;
}

table.information {
  margin-left:auto;
  margin-right:auto;
}

@media (min-width: @min-width) {
}
