@import "../../variables.scss";

#bio {
  max-width: 85%;
  text-align: left;
  display: inline-block;
  line-height: 1.5em;
  margin-top: 5em;
  align-self: center;
}

p.indent {
  text-indent: 5em;
}

@media (min-width: $min-width) {
  #bio {
    align-self: auto;
    margin-top: $margin-top;
    width: 30em;
    height: 100%;
  }
}
