@import "../../variables.scss";

#bio {
  margin-top: $margin-top;
  //max-width: $max-width-mobile;
  line-height: 1.5em;
}

p.indent {
  text-indent: 5em;
}

@media (min-width: $min-width) {
  #bio {
    width: 30em;
  }
}
