@import "../../variables.scss";

#bio {
  max-width: 85%;
  text-align: left;
  display: inline-block;
  line-height: 1.5em;
  margin-top: 5em;
  //overflow-y: auto;
}

p.indent {
  text-indent: 5em;
}

@media (min-width: $min-width) {
  #bio {
    margin-top: 10em;
    width: 30em;
  }
}
