@media (min-width: 50em) {
  .menuBar {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
  }

  .optionLink:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .optionLink:visited {
    color: rgba(14, 6, 0, 0.88);
  }
}

.menuBar {
  width: 100%;
  text-align: center;
  z-index: 1;
}

.optionDiv {
  text-align: center;
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
}

.optionLink {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  text-decoration: none;
  color: rgba(0, 5, 95, 0.85);
}

.optionLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.optionLink:visited {
  color: rgba(14, 6, 0, 0.88);
}
