@import "../../variables.scss";

#container {
  justify-content: center;
  align-items: center;
}

.pressColumn {
  width: 90%;
}

.quote {
  white-space: pre-line;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

.buttonWrapper {
  width: 4em;
}

@media (min-width: $min-width) {
  #container {
    flex-direction: row;
    justify-content: space-around;
  }

  .pressColumn {
    width: 45%;
  }
}
