@import "../../variables.scss";

#container {
  align-items: center;
}

.pressColumn {
  margin-top: $margin-top;
  width: 90%;
}

.quote {
  white-space: pre-line;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

.buttonWrapper {
  width: 4em;
}

@media (min-width: $min-width) {
  .pressColumn {
    width: 30em;
  }
}
