@nice-black: #2c261c;
@nice-brown: #655e59;
@text-color: @nice-brown;
@menu-color: @nice-brown;
@menu-color-active: @nice-black;
@text-border-size: 0.3px;
@text-border-color: black;

@box-border-color: black;
@min-width: 700px;

@border-radius: 5px;

@social-media-button-color: @nice-black;
